<%- include layouts/header.ejs %>
<div class="page_data">
	<form method="post" action="/client/add">
		<fieldset>
			<legend>Ajout d'un client</legend>
			<table>
				<tr>
					<td>Nom d'un client</td>
					<td><input type="text" name="nomClient" /></td>
				</tr>
				<tr>
					<td>Adresse d'un client</td>
					<td><input type="text" name="adresseClient" /></td>
				</tr>
				<tr>
					<td><input type="submit" name="save" value="Enregistrer"/></td>
					<td><input type="button" name="cancel" value="Annuler" class="cancel"
					onClick="cancelClient()"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>
<%- include layouts/footer.ejs %>
